<dc-layout>
  <dc-sidenav [open]="showSidenav$ | async">
    <dc-nav-item (navigate)="closeSidenav()" routerLink="/releases/find" icon="search">
      Search
    </dc-nav-item>
    <dc-nav-item (navigate)="closeSidenav()" routerLink="/releases/collection" icon="folder">
      Collection
    </dc-nav-item>
    <dc-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn$ | async)">
      Sign In
    </dc-nav-item>
    <dc-nav-item (navigate)="logout()" *ngIf="loggedIn$ | async">
      Sign Out
    </dc-nav-item>
  </dc-sidenav>
  <dc-toolbar (openMenu)="openSidenav()" [loading]="loading$ | async">
    Search
  </dc-toolbar>

  <router-outlet></router-outlet>
</dc-layout>