/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
  font-family: Roboto,"Helvetica Neue",sans-serif
}

.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}

.mat-toolbar .mat-progress-spinner circle, .mat-toolbar .mat-spinner circle{
  stroke: white;
}